.cardd {
    border-bottom: 1px white solid;
    margin-top: 1rem;
    margin: 1rem;
}

@media (max-width: 280px) {
    .screenn {
        width: 13rem;
    }
}

@media (max-width: 360px) {
    .screenn {
        width: 12rem;
    }
}

@media (max-width: 420px) {
    .screenn {
        width: 14rem;
    }
}

@media (max-width: 320px) {
    .screenn {
        width: 10rem;
    }
}

@media (min-width: 540px) {
    .screenn {
        width: 25rem;
    }
}